.title-profile {
    display: flex;
    justify-content: center;
}

.porfile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .imgUser {
        width: 200px;
        border-radius: 20px;
    }
}
